 <header id="header">
    <nav class="container">
      <a href="" id="logo"><img src="../../assets/images/logo.jpg" alt=""></a>
      <ul id="main-menu">
        <li><a href="">Home</a></li>
        <li><a href="">Dịch Vụ</a>
          <ul class="sub-service">
            <li><a href="">Thêm Mới Dịch Vụ</a></li>
            <li><a href="">Sửa Dịch Vụ</a></li>
            <li><a href="">Chỉnh Sửa Nhân Viên</a></li>
          </ul>

        </li>
        <li><a href="">Nhân Viên</a>
          <ul class="sub-service">
            <li><a href="">Danh Sách Nhân Viên</a></li>
            <li><a href="">Thêm Mới Nhân Viên</a></li>
            <li><a href="">Chỉnh Sửa Nhân Viên</a></li>
          </ul>

        </li>
        <li><a href="">Danh Sách Dịch vụ</a>
          <ul class="sub-service">
            <li><a href="">Villa</a></li>
            <li><a href="">House</a></li>
            <li><a href="">Resort</a></li>
          </ul>
        </li>
        <li><a href="">Khách Hàng</a>
          <ul class="sub-service">
            <li><a href="">Danh Sách Khách Hàng</a></li>
            <li><a href="">Thêm Mới Khách Hàng</a></li>
            <li><a href="">Chỉnh Sửa Khách Hàng</a></li>
          </ul>
        </li>
        <li><a href="">Hợp Đồng</a></li>
      </ul>
    </nav>
 </header>


